body{
font-family:-apple-system,BlinkMacSystemFont,Segoe UI;
padding:20px;
background:#f6f8fb;
}

input,button{
width:100%;
padding:12px;
margin:8px 0;
border-radius:12px;
border:1px solid #ddd;
}

button{
background:#4caf50;
color:white;
border:none;
font-weight:bold;
}

#preview{
margin-top:20px;
}

h3{
margin-bottom:4px;
}


.modal{
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
background:rgba(0,0,0,.5);
display:none;
align-items:center;
justify-content:center;
}

.modal-box{
background:white;
padding:20px;
border-radius:14px;
max-width:400px;
width:90%;
}


.todo{
background:white;
padding:10px;
margin:6px 0;
border-radius:10px;
}

.todo input{
margin-right:8px;
}


.timerBox{
position:fixed;
bottom:70px;
left:0;
right:0;
background:white;
padding:10px;
border-top:1px solid #ddd;
text-align:center;
}

#timer{
font-size:32px;
font-weight:bold;
}

.rest{
width:100%;
margin-top:6px;
}

.start{
margin-top:6px;
background:#ff9800;
}


.timerBox{
position:fixed;
bottom:0;
left:0;
right:0;
background:white;
padding:10px;
text-align:center;
border-top:1px solid #ddd;
}

#timer{
font-size:32px;
font-weight:bold;
}

.todo{
background:white;
padding:10px;
margin:6px 0;
border-radius:10px;
}
