body{
font-family:Arial;
background:#f2f2f2;
padding:10px;
}

nav button{
margin:4px;
padding:10px;
border:none;
border-radius:10px;
background:#2196f3;
color:white;
}

input,button{
width:100%;
padding:10px;
margin:5px 0;
border-radius:10px;
border:1px solid #ccc;
}

ul{
padding:0;
}

li{
background:white;
padding:10px;
margin:5px 0;
border-radius:10px;
}

.todo{
background:white;
padding:10px;
margin:5px 0;
border-radius:10px;
}

.timerBox{
position:fixed;
bottom:0;
left:0;
right:0;
background:white;
padding:10px;
text-align:center;
border-top:1px solid #ccc;
}

#timer{
font-size:32px;
font-weight:bold;
}
